In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cleaned_data.csv")
df

,input_ids,attention_mask,labels
0,"[101, 7526, 2339, 1996, 10086, 2015, 2081, 210...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
1,"[101, 1040, 1005, 22091, 2860, 999, 2002, 3503...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
2,"[101, 4931, 2158, 1010, 1045, 1005, 1049, 2428...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
3,"[101, 1000, 2062, 1045, 2064, 1005, 1056, 2191...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
4,"[101, 2017, 1010, 2909, 1010, 2024, 2026, 5394...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
...,...,...,...
9995,"[101, 1000, 2004, 2521, 2004, 1045, 2064, 2425...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
9996,"[101, 3616, 2089, 2022, 2593, 3205, 10329, 201...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
9997,"[101, 2216, 2048, 2293, 2000, 21090, 1010, 212...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
9998,"[101, 2163, 5434, 1024, 1045, 2031, 2042, 5128...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0
9999,"[101, 2097, 2079, 8937, 1007, 1012, 2021, 2054...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0